@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.content {
    padding: 0;
    @include mixins.media-breakpoint-up(md) {
        padding: 0 1rem;
    }
    .section-entries {
        @include mixins.media-breakpoint-up(sm) {
            padding-left: .5rem;
        }
        aside {
            padding: 1rem 0;
        }
    }
}