@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.content {
    padding: 2rem 0 0 0;
    @include mixins.media-breakpoint-up(md) {
        padding: 0 1rem;
    }
    & > section {
        padding-bottom: 2.5rem;
    }
    &.mobile-active {
        position: relative;
        margin-top: 70px;
    }
    .footnotes {
        border-top: 1px solid $gray;
        p {
            font-size: .85rem;
        }
    }
}