@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.sidebar {
  @include mixins.media-breakpoint-up(md) {
    height: 100%;
    position: sticky;
    top: 2.25rem;
  }
  &.mobile-active {
    position: relative;
    top: 50px;
  }
}
.footnotes {
  border-top: 1px solid $gray;
  @include mixins.media-breakpoint-up(md) {
    border: none;
    bottom: 2.5rem;
    position: relative;
  }
  p {
    font-size: .85rem;
  }
}