@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.title-container {
    h1 {
        padding-bottom: .75rem;
    }
    h2 {
        padding-bottom: 2rem;
    }
    .intro {
        font-size: 1rem;
    }
    &.section {
        h2 {
            padding-bottom: 1rem;
        }
    }
}