@use '../../variables' as *;
@use '../../base/mixins' as mixins;

// All project overview pages
.title-container {
    padding-bottom: 2rem;
    @include mixins.media-breakpoint-up(md) {
        padding-bottom: 0;
    }
    h1 {

    }
    h2 {

    }
    .intro {

    }
    .project-links {
        padding-bottom: 0;
    }
    &.active {
        h2 {
            color: $teal;
        }
        .section-intro {
            color: $white;
        }
        a {
            cursor: pointer;
            color: $white;
            svg {
                fill: $white;
            }
            &:hover {
                color: $teal;
                svg {
                    fill: $teal;
                }
            }
        }
    }
}

// Home-specific styling
.home {
    .title-container {
        h1 {
            padding-bottom: .75rem;
        }
        h2 {
            padding-bottom: 2rem;
        }
        .intro {
            font-size: 1rem;
        }
        &.section {
            padding-bottom: 3rem;
            h2 {
                padding-bottom: 0;
            }
            &.About {
                padding-bottom: 1.5rem;
            }
            .section-intro {
                padding-top: 1rem;
            }
        }
    }
}