@use '../_variables' as *;
@use '../base/mixins' as mixins;

html,
body {
  font-family: $body;
}

// Headers
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  color: $white;
  font-weight: $semibold;
  letter-spacing: 1px;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  transition: .4s;
}

h1, .h1 {
  font-family: $headline;
  font-size: 2.5rem;
  font-weight: $regular;
}

h2, .h2 {
  font-family: $body;
  font-size: 1.75rem;
  font-weight: $xlight;
}

p, .p {
  color: $gray;
  font-size: 1rem;
  font-weight: $light;
  line-height: 1.5;
  margin: 0;
  transition: .4s;
}

a, .a {
  color: $gray;
  transition: .4s;
  &:hover {
    color: $teal;
    text-decoration: none;
    transition: .4s;
    &:before {
      transition: .4s;
    }
  }
}

blockquote {
  color: $gray;
  font-family: $headline;
  font-size: 18px;
  font-weight: $xlight;
  line-height: 1.5;
  transition: .4s;
}

ul {
  color: $gray;
  font-size: 1rem;
  font-weight: $light;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding-left: 1.25rem;
  li {
    padding-bottom: .5rem;
    position: relative;
    list-style: none;
    transition: .4s;
    &:before {
      background-color: $teal;
      border-radius: 50%;
      content: "";
      display: block;
      height: .45rem;
      left: -18px;
      position: absolute;
      top: 8px;
      width: .45rem;
    }
  }
}

ol {
  color: $gray;
  font-size: 1rem;
  font-weight: $light;
  line-height: 1.5;
  margin: 0;
  padding-left: 1.25rem;
  li {
    padding-bottom: .5rem;
    &::marker {
      color: $teal;
    }
  }
}

code {
  color: $teal;
  font-size: .875rem;
  position: relative;
}

// Utility classes
.subhead {
  font-size: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

// Project pages menu
ul.menu {
  color: $gray;
  font-size: 1.25rem;
  font-weight: $regular;
  list-style: none;
  padding: 0;
  li {
    padding-bottom: .25rem;
    &:before {
      content: none;
    }
  }
}

// Global section content (for about, project overviews, etc)
.section-content {
  img {
    padding: 1rem 0;
    width: 100%;
  }
  p, ul, ol {
    padding-bottom: 1rem;
  }
  a {
    color: $teal;
    &:hover {
      color: $white;
    }
  }
  h4 {
    font-family: $body;
    font-size: 1.25rem;
    font-weight: $xlight;
    padding: 1rem 0;
  }
  figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .5rem;
    padding-top: 1rem;
    row-gap: 1.25rem;
    width: 100%;
    img {
      flex: 1 1 100%;
      height: auto;
      max-width: 100%;
      min-width: 0;
      @include mixins.media-breakpoint-up(sm) {
        flex: 1 1 45%;
      }
      @include mixins.media-breakpoint-up(md) {
        flex: 1 1 100%;
      }
      @include mixins.media-breakpoint-up(lg) {
        flex: 1 1 45%;
      }
    }
    figcaption {
      color: $gray;
      padding-bottom: 1rem;
      font-family: $body;
      font-size: .875rem;
      font-weight: $light;
      flex: 100%;
      margin: 0 auto;
      max-width: 550px;
      text-align: center;
    }
  }
}

