@use '../_variables.scss' as *;

html {
  background: $bg-gradient;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  body {
    background-color: transparent;
    main {
      .container-fluid {
        max-width: $xl;
      }
      .container-main {
        padding: 2.25rem;
        position: relative;
      }
    }
  }
}