@use '../_variables.scss' as *;
@use '../base/mixins' as mixins;

html {
  background: $bg-gradient;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  body {
    background-color: transparent;
    main {
      .container-fluid {
        max-width: $xl;
      }
      .container-main {
        padding: 2.25rem;
        position: relative;
        @include mixins.media-breakpoint-up(md) {
          padding: 2.25rem 2.25rem 0 2.25rem;
        }
      }
    }
  }
}