@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entries {
  margin-bottom: 0rem;
  aside {
    padding: 1rem 0;
  }
}
.section-link {
  .project-links {
    font-size: 1.1rem;
    .link {
      a {
        cursor: pointer;
        color: $white;
        font-size: 1rem;
        svg {
          fill: $white;
        }
        &:hover {
          color: $teal;
          svg {
            fill: $teal;
          }
        }
      }
    }
  }
}