.fade {
  position: relative;
  transition: .4s;
  &.fade-in {
    animation: fadeIn .4s ease-out forwards;
  }
  &.fade-right {
    animation: fadeRight .4s ease-out forwards;
  }
  &.fade-left {
    animation: fadeLeft .4s ease-out forwards;
  }
  &.fade-up {
    animation: fadeUp .4s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    left: -1rem;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    right: -1rem;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    bottom: -1rem;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
