@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
    position: relative;
    transition: .4s;
    z-index: 2;
    h3 {
        font-size: 1rem;
        font-weight: $regular;
    }

    &.experience {
        position: relative;
        .entry-container {
            border-left: 2px solid $gray;
            margin-left: .5rem;
            padding-left: 1.25rem;
            position: relative;
            transition: .4s;
            // timeline top dot
            &:before {
                background-color: $gray;
                border-radius: 50%;
                content: '';
                display: block;
                height: 1rem;
                left: -9px;
                position: absolute;
                transition: .4s;
                width: 1rem;
            }
        }
    }

    // Hover states and decorations (md+ only)
    @include mixins.media-breakpoint-up(md) {
        &:after {
            background-color: transparent;
            content: '';
            display: block;
            height: calc(100% + 1.5rem);
            opacity: 0;
            left: -.75rem;
            padding: 1rem;
            position: absolute;
            top: -.75rem;
            transition: .4s;
            width: calc(100% + 1.5rem);
            z-index: 1;
        }
        &:hover,
        &.active {
            cursor: pointer;
            transition: .4s;
            h3 {
                color: $teal;
            }
            &:after {
                background-color: $gray;
                opacity: .18;
                transition: .4s;
            }
        }

        // Experience-specific hover states
        &.experience {
            &:hover,
            &.active {
                .entry-container {
                    border-left: 2px solid $teal;
                    transition: .4s;
                    &:before {
                        background-color: $teal;
                        transition: .4s;
                    }
                }
            }
        }
    }
}