@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
  &.experience {
    position: relative;
    .entry-container {
      // Timeline
      border-left: 2px solid $gray;
      padding-left: 1.25rem;
      position: relative;
      transition: .4s;
      // Timeline dot
      &:before {
        background-color: $gray;
        border-radius: 50%;
        content: '';
        display: block;
        height: 1rem;
        left: -9px;
        position: absolute;
        transition: .4s;
        width: 1rem;
      }
    }
    @include mixins.media-breakpoint-up(sm) {
      &:hover,
      &.active {
        .entry-container {
          border-left: 2px solid $teal;
          transition: .4s;
          &:before {
            background-color: $teal;
            transition: .4s;
          }
        }
      }
    }
  }
}