@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
  &.experience {
    position: relative;
    .entry-container {
      // Timeline
      border-left: 2px solid $gray;
      //display: flex;
      margin-left: .25rem;
      padding-left: 1.25rem;
      position: relative;
      transition: .4s;
      // Timeline dot
      &:before {
        background-color: $gray;
        border-radius: 50%;
        content: '';
        display: block;
        height: 1rem;
        left: -9px;
        position: absolute;
        transition: .4s;
        width: 1rem;
      }
      .entry-subtitle {
        padding-bottom: .5rem;
        //padding-left: 1rem;
        position: relative;
        top: -2px;
        font-size: .875rem;
        &.years {
          font-weight: $medium;
        }
        @include mixins.media-breakpoint-up(lg) {
          //padding-left: 1.125rem;
        }
      }
      .entry-description {
        font-size: .875rem;
      }
      .role-details {
        //padding-left: 1rem;
        position: relative;
        //top: -3px;
        @include mixins.media-breakpoint-up(md) {
          padding-left: 0;
        }
        @include mixins.media-breakpoint-up(md) {
          padding-left: 1rem;
        }
        @include mixins.media-breakpoint-up(lg) {
          padding-left: 0;
        }
      }
    }
  }
}