@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
    margin-bottom: 2.5rem;
    opacity: 1;
    position: relative;
    transition: .4s;
    .entry-container {
        position: relative;
        z-index: 1;
        h3 {
            font-size: 1.25rem;
            font-weight: $xlight;
            padding-bottom: .5rem;
        }
        .entry-subtitle {
            font-size: .85rem;
            padding-bottom: 1rem;
        }
    }
    &:last-child {
        margin-bottom: 1rem;
    }
    &.overview-section {
        margin-bottom: 0;
    }
}