@use "../../variables" as *;
@use "../../base/mixins" as mixins;

.project-archive {
	.project-cards {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
		margin: 4rem 0;
		@include mixins.media-breakpoint-up(sm) {
			gap: 2rem;
		}
		.project-card {
			flex: 1 1 100%;
			position: relative;
			@include mixins.media-breakpoint-up(sm) {
				flex: 0 1 47%;
			}
			@include mixins.media-breakpoint-up(lg) {
				flex: 0 1 31%;
			}
			.entry-container {
				display: block;
				position: relative;
				z-index: 1;
				.card-image {
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					min-height: 200px;
					position: relative;
					width: 100%;
					z-index: 1;
					@include mixins.media-breakpoint-up(sm) {
						min-height: 175px;
					}
					@include mixins.media-breakpoint-up(md) {
						min-height: 200px;
					}
				}
				.card-content {
					padding-top: 0.75rem;
					position: relative;
					z-index: 1;
					h3 {
						font-size: 1rem;
						font-weight: $regular;
					}
					.entry-subtitle {
						padding-bottom: 0.25rem;
					}
				}
				.card-arrow {
					height: 1.5rem;
					transition: 0.4s;
					width: 1.5rem;
					z-index: 1;
					@include mixins.media-breakpoint-up(sm) {
						top: calc(175px + 0.5rem);
					}
					@include mixins.media-breakpoint-up(md) {
						top: calc(200px + 0.5rem);
					}
				}
				.card-cta {
					p {
						font-size: 0.85rem;
					}
				}
				.project-skills {
					gap: 0.5rem;
					padding-top: 0.5rem;
					.skill {
						font-size: 0.75rem;
						padding: 0.375rem 0.8rem 0.3rem 0.8rem;
					}
				}
			}
			&.section-entry {
				height: auto;
				margin-bottom: 2rem;
				width: 100%;
				transition: 0.4s;
				@include mixins.media-breakpoint-up(sm) {
					margin-bottom: 1rem;
				}

				&.project-card {
					.entry-container {
						&:hover {
							.card-cta {
								p {
									color: $teal;
								}
							}
						}
					}
				}

				// arrow icon for project cards
				svg {
					width: 1rem;
					height: 1rem;
					right: 0;
					position: relative;
					transition: 0.25s;
				}

				&:hover,
				&.active {
					transition: 0.4s;
					svg {
						fill: $teal;
						right: -0.25rem;
						transition: 0.25s;
					}
				}
			}
		}
	}
}
